body{
    margin-top:0px;
    font-family:Arial
}

#container{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    background-color:gray;
    border:solid 1px red;
    padding-left:2%
}

#header{
    float:left;
    padding-left:15%;
}

#date{
    padding-left:70%;
}

#dealer{
    clear:both;
    padding-left:5%;
    float:left;
    width:69%
}

#customer{

    float:left;
    width:20%;
    
}

#payment{
    clear:both;
    float:left;
}

#paymentDate{
    float:left;
    padding-left:40%
}

#productTable{
    clear:both;
    margin-left:auto;
    margin-right:auto
}

table {
    border-collapse: collapse;
    text-align:center; 
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto
}

table, th, td {
    border: 1px solid black;
}

#toPay{

}

p{
    line-height:80%
}